body {
    background-image: url("../img/rockbg.png");
    background-repeat: no-repeat; 
    background-size: cover;
}

#container {
    display: grid;
    grid-template-rows: 20% 80%; 
    margin: 0 auto;
    margin-top: 2em;
    background-image: url("../img/blackboard.png");
    height: 24em;
    width: 50.76em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    justify-content: center;
}

#trivia-heading {
    display: grid;
    font-family: 'Permanent Marker', cursive;
    color: rgb(209, 206, 206);
    font-size: 44px;
    height: 1.6em;
    margin-top: -7px;
}

#start-button {
    display: grid;
    justify-self: center;
    font-family: 'Muli', sans-serif;
    background-color: rgb(41, 38, 38);
    color: rgb(209, 206, 206);
    height: 3em;
    width: 7em;
    margin-top: 11em;
}

#content-container {
    display: grid;
    grid-template-rows: 10% 10% 80%;
    font-family: 'Muli', sans-serif;
    color:rgb(209, 206, 206);
    text-align: center;
    font-size: 24px;
    margin: 2em;
    margin-top: -2px;
}

#time-remaining {
   display: none;
   margin-top: -10px;
   padding-top: 7px;
}

#timeCounter {
    display: inline-grid;
}

#question-container {
    display: none;
    margin-top: 1em;
    margin-bottom: 50px;
}

#choices-container{
    display: none;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin-top: 2em;
    padding-top: .7em;
    grid-gap: 15px;
}

.choice-class {
    border: 2px solid rgb(209, 206, 206);
    align-self: center;
}

.choice-class:hover {
    color:  rgb(41, 38, 38);
    background-color: rgb(209, 206, 206);
    border: 2px solid rgb(41, 38, 38);
    transition: all .2s ease;
}

#img {
    display: none;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

#thatImg {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    margin-top: -15px;
    margin-left: 200px;
    border: 2px solid grey;
    border-radius: 15px;
}

#thatObstinateImg {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    margin-top: -15px;
    margin-left: 248px;
    border: 2px solid grey;
    border-radius: 15px;
}

#score {
    display: none;
    text-align: center;
    margin-left: 90px;
    width: 200px;
}

#start-over {
    display: none;
    justify-self: center;
    font-family: 'Muli', sans-serif;
    background-color: rgb(41, 38, 38);
    color: rgb(209, 206, 206);
    height: 3em;
    width: 7em;
}

/* A Media Query Just For Me */

/* @media screen and (max-width: 1950px) {

#container {
    height: 38.4em;
    width: 76.8em;
    margin-top: 7em;
}

#trivia-heading {
    font-size: 64px;
}

#content-container {
    font-size: 34px;
}
    
} */

@media screen and (max-width: 960px) {

    #container {
      
        height: 18.9em;
        width: 40.76em;
     
    }

    #trivia-heading {
        font-size: 38px;
    }
    

    #content-container {
        font-size: 20px;
    }
    
    #thatImg, #thatObstinateImg {
        width: 170px;
        height: 170px;
        margin-left: 180px;
    }

    #score {
        margin-left: 60px;
        margin-top: -5px;
        width: 200px;
        font-size: 26px;
    }

}

@media screen and (max-width: 768px) {

    #container {
      
        margin-top: 85px;
        height: 15.2em;
        width: 32.61em;
     
    }

    #trivia-heading {
        font-size: 30px;
    }
    

    #content-container {
        font-size: 16px;
    }

    #choices-container{
        margin-top: 3.5em;
        padding-top: .4em;
        grid-gap: 15px;
    }
    
    #thatImg, #thatObstinateImg {
        width: 120px;
        height: 120px;
        margin-left: 180px;
    }

    #score {
        padding-left: 6px;
        width: 120px;
        font-size: 18px;
    }

}

@media screen and (max-width: 600px) {

    body {
        background-repeat: repeat;
    }

    #container {
      
        height: 10.2em;
        width: 15.61em;
        border-left: 8px solid rgb(150, 85, 42);
        border-right: 8px solid rgb(150, 85, 42);
        margin-top: 145px;
    }

    #start-button {
        margin-top: 7em;
    }

    #trivia-heading {
        font-size: 20px;
    }
    

    #content-container {
        font-size: 10px;
    }
    
    #thatImg, #thatObstinateImg {
        width: 90px;
        height: 90px;
    }

    #img {
        padding-right: 22px;
        padding-bottom: 13px;
    }

    #score {
        padding-right: 53px;
        margin-top: -15px;
        width: 80px;
        font-size: 10px;
    }

    #start-over {
        height: 3em;
        width: 6em;
        margin-top: -10px;
    }
    
}


