body {
    background-image: url("../img/rockbg.png");
    background-repeat: no-repeat; 
    background-size: cover;
}

#container {
    display: grid;
    grid-template-rows: 20% 80%; 
    margin: 0 auto;
    margin-top: 2em;
    background-image: url("../img/blackboard.png");
    height: 24em;
    width: 50.76em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    justify-content: center;
}

#trivia-heading {
    display: grid;
    font-family: 'Permanent Marker', cursive;
    color: rgb(209, 206, 206);
    font-size: 44px;
    height: 1.6em;
}

#start-button {
    display: grid;
    justify-self: center;
    font-family: 'Muli', sans-serif;
    background-color: rgb(41, 38, 38);
    color: rgb(209, 206, 206);
    height: 3em;
    width: 7em;
    margin-top: 11em;
}

#content-container {
    display: grid;
    grid-template-rows: 10% 10% 80%;
    font-family: 'Muli', sans-serif;
    color:rgb(209, 206, 206);
    text-align: center;
    font-size: 24px;
    margin: 2em;
}

#time-remaining {
   display: none;
}

#timeCounter {
    display: inline-grid;
}

#question-container {
    display: none;
    margin-top: 1em;
}

#choices-container{
    display: none;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin-top: 1em;
    padding-top: .7em;
    grid-gap: 15px;
}

.choice-class {
    border: 2px solid rgb(209, 206, 206);
    align-self: center;
}

/* A Media Query Just For Me */

/* @media screen and (max-width: 1950px) {

#container {
    height: 38.4em;
    width: 76.8em;
    margin-top: 7em;
}

#trivia-heading {
    font-size: 64px;
}

#content-container {
    font-size: 34px;
}
    
} */